$red: #802425;
$borderColor: #ed9a13;

.StatBlock {
  width: 350px;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  padding: 10px;

  border: {
    top: 5px solid $borderColor; // Fallback
    bottom: 5px solid $borderColor; // Fallback
    image: url(https://i.imgur.com/gtHyLi6.png);
    width: 8px;
    image-slice: 20;
  }
  background: {
    color: #fff4d1; // Fallback
    image: url(http://i.imgur.com/BgTMZfn.png);
    position: center;
  }

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .triangleContainer {
      width: 350px;
      overflow: hidden;
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5px 0 2.5px 450px;
    border-color: transparent transparent transparent $red;
    margin: 7px 0px;
  }

  .name {
    font: {
      size: 225%;
      family: Baskerville, serif;
      variant: small-caps;
      weight: 600;
    }
    color: $red;
  }

  .description {
      font-style: italic;
  }

  .bold {
      font-weight: bold;
  }

  .red {
      color: $red;
  }

  table {
      width: 100%;
      border: 0px;
      border-collapse: collapse;
      color: $red;
  }

  th, td {
      width: 50px;
      text-align: center;
  }

  .actions {
      font-size: 175%;
      font-variant: small-caps;
      margin: 17px 0px 0px 0px;
  }

  .hr {
      background: $red;
      height: 2px;
  }

  .action {
      margin: 5px 0px;
  }

  .actionname {
      font-weight: bold;
      font-style: italic;
  }
}
