$red: #802425;
$borderColor: #ed9a13;
$BaseColor: DodgerBlue;
$DarkVariant: #006fc2;
$fontSize: 14px;
$inputBG: #f1f1f1;
$noteColor: #cfe7ce;


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background: {
    image: url("http://i.imgur.com/QrLSPUv.jpg");
    size: cover;
  }
  font: {
    family: Helvetica,sans-serif;
    size: 14px;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rootContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.menuContainer {
  display: flex;
  flex-direction: column;
}

.Menu {
  width: 350px;
  padding: 10px;
  margin: 10px;
  float: left;
  background-color: $noteColor;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  flex-direction: column;

  > div, > form {
    margin: 2px 0;
  }


  * {
    box-sizing: border-box;
  }

  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    margin: 0;
  }

  input {
    border: 0px solid transparent;
    background-color: $inputBG;
    padding: 10px;
    font-size: $fontSize;
  }

  input:focus, select:focus {
    outline: none;
  }

  input[type=text] {
    background-color: $inputBG;
    width: 100%;
    margin: 0;
  }

  input[type=text]:focus {
    border-bottom: 2px solid $DarkVariant;
    padding-bottom: 8px;
  }

  input[type=submit] {
    background-color: $BaseColor;
    color: #fff;
    margin: 0 0 0 2px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: $DarkVariant;
  }

  .Search {
    form {
      display: flex;
      justify-content: space-between;
      div {
        flex-grow: 1;
      }
      input {
        flex-grow: 0;
      }
    }
    .no-suggestions {
      color: #999;
      padding: 0.5rem;
    }

    .suggestions {
      border: 1px solid #999;
      border-top-width: 0;
      list-style: none;
      margin-top: 0;
      max-height: 600px;
      overflow-y: auto;
      padding-left: 0;
      width: 100%;
      position: absolute;
      background-color: white;
    }

    .suggestions li {
      padding: 0.5rem;
    }

    .suggestion-active,
    .suggestions li:hover {
      background-color: lightgrey;
      cursor: pointer;
    }

    .suggestions li:not(:last-of-type) {
      border-bottom: 1px solid #999;
    }
  }

  .Party {
    $radius: 0;
    $baseFg: white;
    $baseBg: $inputBG;
    $accentFg: $DarkVariant;
    $accentBg: $BaseColor;

    form {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      select {
        flex-grow: 1;
      }
      input {
        flex-grow: 0;
      }
    }

    select {
      font-size: $fontSize;
      -webkit-appearance: none;
      appearance: none;
      color: black;
      margin: 0;
      border: 0px solid $baseFg;
      padding: 9px 3.5em 9px 0.75em;
      border-radius: $radius;
      background-color: $baseBg;
      background-image: linear-gradient($baseFg, $baseFg),
        linear-gradient(-135deg, transparent 50%, $accentBg 50%),
        linear-gradient(-225deg, transparent 50%, $accentBg 50%),
        linear-gradient($accentBg 42%, $accentFg 42%);
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-size: 0px 100%, 30px 30px, 30px 30px, 30px 100%;
      background-position: right 20px center, right bottom, right bottom, right bottom;
    }

    select:hover {
      background-image: linear-gradient($accentFg, $accentFg),
        linear-gradient(-135deg, transparent 50%, $accentFg 50%),
        linear-gradient(-225deg, transparent 50%, $accentFg 50%),
        linear-gradient($accentFg 42%, $accentBg 42%);
      cursor: pointer;
    }

    select:active {
      background-image: linear-gradient($accentFg, $accentFg),
        linear-gradient(-135deg, transparent 50%, $accentFg 50%),
        linear-gradient(-225deg, transparent 50%, $accentFg 50%),
        linear-gradient($accentFg 42%, $accentBg 42%);
      color: $accentBg;
      border-color: $accentFg;
      background-color: $accentFg;
    }
  }

  .PartyMembers {
    display: flex;
    flex-wrap: wrap;
    span {
      background-color: $BaseColor;
      padding: 3px 10px;
      margin: 2px;
      border-radius: 5px;
      color: white;
      .material-icons {
        font-size: $fontSize;
        vertical-align: -2px;
        margin-right: 5px;
      }
    }
    span:hover {
      background-color: $DarkVariant;
      cursor: pointer;
    }
  }

  .EncounterOptions {
    display: flex;
  }

  .EncounterList {
    display: flex;
    flex-direction: column;
    .encounterBox {
      background-color: $inputBG;
      border: 1px solid grey;
      margin-bottom: 10px;
    }
    .encounterName {
      padding: 10px;
      border-bottom: 1px solid grey;
      margin: 0;
      font-weight: bold;
      display: flex;
      justify-content: space-between;

      .trivial {
        color: lightgrey;
      }
      .easy {
        color: green;
      }
      .medium {
        color: #d1ac17;
      }
      .hard {
        color: #ff7708;
      }
      .deadly {
        color: red;
      }
    }
    .encounterMonsterList{
      margin: 0;
      div {
        padding: 2px 10px;
        margin: 0;
      }
      div:not(div:last-child):hover {
        cursor: pointer;
        background-color: $BaseColor !important;
      }
      div span:not(.monsterListOptions) {
        line-height: calc(#{$fontSize} + 14px);
        vertical-align: middle;
      }
      div:not(div:last-child) {
        display: flex;
        justify-content: space-between;
      }
      div:not(div:last-child):nth-child(odd) {
        background-color: white;
      }
      .enabled {
        background-color: $BaseColor;
        color: white;
      }
      .enabled:hover {
        background-color: $DarkVariant;
        cursor: pointer;
      }
      .disabled {
        background-color: darkgrey;
        color: grey;
        cursor: default;
      }
      .disabled::after {
        content: " - First find a monster";
      }

      .monsterListOptions {
        button {
          border: 0px solid transparent;
          background-color: $BaseColor;
          color: #fff;
          margin: 0 0 0 2px;
          cursor: pointer;
          font-size: $fontSize;
          padding: 7px;
        }
        button:hover {
          background-color: $DarkVariant;
        }
      }
      .healthy {
        color: green;
      }
      .wounded {
        color: #C9C308;
      }
      .injured {
        color: orange;
      }
      .beaten, .dead {
        color: red;
      }

    }
  }
}

@keyframes AttackHit {
  0%   { background-color: #02BF11  ; }
  100% { background-color: $noteColor; }
}
@keyframes AttackMiss {
  0%   { background-color: $red; }
  100% { background-color: $noteColor; }
}
@keyframes AttackHit2 {
  0%   { background-color: #02BF11  ; }
  100% { background-color: $noteColor; }
}
@keyframes AttackMiss2 {
  0%   { background-color: $red; }
  100% { background-color: $noteColor; }
}
.hitAnimated {
  animation: AttackHit 1s ease-out;
}
.hitAnimated2 {
  animation: AttackHit2 1s ease-out;
}
.missAnimated {
  animation: AttackMiss 1s ease-out;
}
.missAnimated2 {
  animation: AttackMiss2 1s ease-out;
}

.MonsterMenu {
  > form {
    display: flex;
  }
  select {
    flex-grow: 1;
  }

  .title {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin: 2px 0;
  }

  .hr {
    background: $BaseColor;
    height: 2px;
    margin-bottom: 10px;
  }

  button {
    border: 0px solid transparent;
    background-color: $BaseColor;
    color: #fff;
    margin: 0 0 0 2px;
    cursor: pointer;
    font-size: $fontSize;
    padding: 10px;
  }
  button:hover {
    background-color: $DarkVariant;
  }
  .formButton {
    width: 100%;
  }

  .Party {
    input[type="text"] {
      margin-right: 4px;
      flex-shrink: 1;
    }
    fieldset {
      margin: 0;
      padding: 0;
      border: none;
      display: flex;

      .magical {
        background-color: $DarkVariant;
        color: white;
      }
      .magical:before {
        content: "Magical";
      }

      .nonmagical {
        background-color: darkgrey;
        color: #444444;
      }
      .nonmagical:before {
        content: "Normal";
      }
    }
    fieldset:disabled {
      opacity: 0.4;
      input[type="submit"]:hover {
        background-color: $BaseColor;
      }
      select:hover, select:active {
        background-image: linear-gradient($inputBG, white),
          linear-gradient(-135deg, transparent 50%, $BaseColor 50%),
          linear-gradient(-225deg, transparent 50%, $BaseColor 50%),
          linear-gradient($BaseColor 42%, $DarkVariant 42%);
        background-color: $inputBG;
        color: black;
        border-color: white;
      }
      *{
        cursor: default;
      }
    }
  }

  > span {
    display: block;
    font-weight: bold;
    margin: 2px 0;
  }

  > span:not(:first-of-type) {
    margin-top: 10px;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 47px;
    cursor: pointer;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 37px;
    font-style: italic;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 37px;
      width: 37px;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    :hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: $BaseColor;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 13.34px;
      top: 7.4px;
      width: 7.4px;
      height: 14.8px;
      border: solid white;
      border-width: 0 4.44px 4.44px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.StatBlock {
  width: 350px;
  padding: 10px;
  margin: 10px;
  float: left;

  border: {
    top: 5px solid $borderColor; // Fallback
    bottom: 5px solid $borderColor; // Fallback
    image: url(https://i.imgur.com/gtHyLi6.png);
    width: 8px;
    image-slice: 20;
  }
  background: {
    color: #fff4d1; // Fallback
    image: url(http://i.imgur.com/BgTMZfn.png);
    position: center;
  }

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .triangleContainer {
      width: 350px;
      overflow: hidden;
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5px 0 2.5px 450px;
    border-color: transparent transparent transparent $red;
    margin: 7px 0px;
  }

  .name {
    font: {
      size: 225%;
      family: Baskerville, serif;
      variant: small-caps;
      weight: 600;
    }
    color: $red;
  }

  .actionDescription {
    .actionDescriptionParagraph:not(:first-child) {
      display: block;
      text-indent: 1em;
    }
    .subActionDescriptionParagraph {
      display: block;
      margin-left: 1em;
      text-indent: -1em;
    }
    .actionDescriptionParagraph + .subActionDescriptionParagraph {
      margin-top: 5px;
    }
  }

  .spanList {
    > span {
      display: inline !important;
    }
    > span:not(:last-child):after {
      content: ", ";
    }
    .spanListExeption:after {
      content: "" !important;
    }
  }

  .monsterInfoDiv {
    margin-left: 1em;
    text-indent: -1em;
  }

  .description {
      font-style: italic;
  }

  .bold {
      font-weight: bold;
  }

  .red {
      color: $red;
  }

  table {
      width: 100%;
      border: 0px;
      border-collapse: collapse;
      color: $red;
  }

  th, td {
      width: 50px;
      text-align: center;
  }

  .actions {
      font-size: 175%;
      font-variant: small-caps;
      margin: 17px 0px 0px 0px;
  }

  .hr {
      background: $red;
      height: 2px;
  }

  .action {
      margin: 5px 0px;
  }

  .actionname {
      font-weight: bold;
      font-style: italic;
  }

  .spellcasting {
    > div:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.spell {
  position: absolute;
  max-width: 350px;
  padding: 10px;
  margin: 10px;
  overflow: scroll;

  border: {
    top: 5px solid $borderColor; // Fallback
    bottom: 5px solid $borderColor; // Fallback
    image: url(https://i.imgur.com/gtHyLi6.png);
    width: 8px;
    image-slice: 20;
  }
  background: {
    color: #fff4d1;
  }

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .name {
    font: {
      size: 225%;
      family: Baskerville, serif;
      variant: small-caps;
      weight: 600;
    }
    color: $red;
  }

  table {
    color: black;
  }

  .description {
      font-style: italic;
  }

  .bold {
      font-weight: bold;
  }

  .textEntries span:not(:first-child) {
    display: block;
    text-indent: 1em;
  }

}
